<div class="card">
    <div class="flex justify-content-between mb-3">
        <h2>Clients</h2>
        <button pButton label="New Client" icon="pi pi-plus" [routerLink]="['/clients/new']"></button>
    </div>

    <p-table [value]="clients" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>CIN</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.cin }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-secondary mr-2"
                        [routerLink]="['/clients', client.id, 'edit']"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteClient(client.id!)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>