<p-card>
    <div class="header">
        <h2>Actes notariés</h2>
        <button pButton icon="pi pi-plus" label="Nouvel acte" (click)="create()"></button>
    </div>

    <p-table [value]="actes">
        <ng-template pTemplate="header">
            <tr>
                <th>Référence</th>
                <th>Type</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-acte>
            <tr (click)="open(acte)">
                <td>{{ acte.reference }}</td>
                <td>{{ acte.type }}</td>
                <td>{{ acte.dateActe }}</td>
                <td>{{ acte.status }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>